*~
\#*
*#
*.o
*.so
*.bak
*.files
*.includes
*.creator*
/*.config
*.save
.build
platforms/android/apk/app/build/*
platforms/android/apk/build/*
platforms/android/apk/.gradle
platforms/android/apk/app/src/main/assets/shaders
platforms/android/apk/app/src/main/assets/textures

